In [1]:
# Setup imports and short-form names for each of the packages needed for data processing and visualizations
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [12]:
data = pd.read_csv('results.csv', dtype={'id': str, 'startTime': 'Int64', 'origin': object, 'destination': object, 'totalPower': float, 'minimumCapacity': int, 'chargeLevelInterval': int, 'optimizedCost': float, 'optimizedCostDuration': float, 'optimizedDuration': float, 'optimizedDurationFinancialCost': float, 'endTime': 'Int64', 'error': object})
data.index.name = 'Index'
data.head()

,id,startTime,origin,destination,totalPower,minimumCapacity,chargeLevelInterval,optimizedCost,optimizedCostDuration,optimizedDuration,optimizedDurationFinancialCost,endTime,error
Index,,,,,,,,,,,,,
0,f3eed27de2f,1684487402321,"{""latitude"":59.188956929696936,""longitude"":13....","{""latitude"":59.94046649336293,""longitude"":13.6...",9245.573059,43,50,0.0,5700.0,5700.0,0.0,1684487461279,NaN
1,e50030aca2d,1684487461302,"{""latitude"":60.23301952977527,""longitude"":13.5...","{""latitude"":59.60549803405616,""longitude"":16.7...",28294.802206,43,50,NaN,NaN,NaN,NaN,1684487650186,NaN
2,8b04265f66d,1684487650236,"{""latitude"":59.74999614778409,""longitude"":15.2...","{""latitude"":56.75573491879138,""longitude"":15.4...",41585.574499,43,50,NaN,NaN,NaN,NaN,<NA>,NaN
3,c961b63aa5f,1684489081631,"{""latitude"":55.887033121156385,""longitude"":13....","{""latitude"":60.14050023753482,""longitude"":13.1...",68059.786133,43,50,NaN,NaN,NaN,NaN,<NA>,NaN
4,fbdc3f71999,1684490882000,"{""latitude"":59.74999614778409,""longitude"":15.2...","{""latitude"":56.75573491879138,""longitude"":15.4...",41585.574499,43,50,NaN,NaN,NaN,NaN,<NA>,NaN

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              349 non-null    object
 1   startTime                       349 non-null    Int64
 2   origin                          349 non-null    object
 3   destination                     349 non-null    object
 4   totalPower                      349 non-null    float64
 5   minimumCapacity                 349 non-null    int64
 6   chargeLevelInterval             349 non-null    int64
 7   optimizedCost                   197 non-null    float64
 8   optimizedCostDuration           197 non-null    float64
 9   optimizedDuration               165 non-null    float64
 10  optimizedDurationFinancialCost  165 non-null    float64
 11  endTime                         175 non-null    Int64
 12  error                           0 non-null      object
dtypes: Int64(2), float64(5), int64(2), object(4)
memory usage: 36.3+ KB

## Out of 349 routes, 165 were completed without running out of memory